<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302386470004-34q17e3sd8ifvijdshmp5cjg7n1m7pcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302386470004-34q17e3sd8ifvijdshmp5cjg7n1m7pcu</string>
	<key>API_KEY</key>
	<string>AIzaSyA2FgHzAFPE9Cll9v-oMqAiV7rG3-CpDn4</string>
	<key>GCM_SENDER_ID</key>
	<string>302386470004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.candyInMyEars</string>
	<key>PROJECT_ID</key>
	<string>candy-in-my-ears</string>
	<key>STORAGE_BUCKET</key>
	<string>candy-in-my-ears.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302386470004:ios:32358adbb2c2d8d65dc521</string>
</dict>
</plist>